# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
/bin/

# Credentials json file. It contails a client secret info which should be private
src/main/resources/credentials.json

# User tokens
tokens/StoredCredential

# Development idiosyncratic things
.project
.classpath
.settings/
